@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
html, body {
  background-color: hsl(0, 0%, 95%);
}
.container {
  display: flex;
  height: 100vh;
  width:fit-content;

}

.row > * {
  padding-right:0px;
  padding-left:0px;
  
}
.row{
  align-items: center;
  align-content: center;
  display: flex;
}
.heading {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
}
p {
  color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}
.card {
  height:30rem;
  padding: 10%;
  width:19rem;
}
h2, h1{
  padding-top: 10%;
  padding-bottom: 5%;
}
.info {
  margin-bottom: 30%;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.sedan-card {
  background-color: hsl(31, 77%, 52%);
  color: white;
  border-radius: 10px 0px 0px 10px;
}
.suv-card {
  background-color: hsl(184, 100%, 22%);
  color: white;
  border-radius: 0%;
}
.luxury-card {
  background-color: hsl(179, 100%, 13%);
  color: white;
  border-radius: 0px 10px 10px 0px;
}
.btn {
  width: 150px;
  border-radius: 50px;
  padding: 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border-color: white;
}
.btn:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}
.btn2 {
  width: 150px;
  border-radius: 50px;
  padding: 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border-color: white;
}
.btn2:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}
.btn3 {
  width: 150px;
  border-radius: 50px;
  padding: 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border-color: white;
}
.btn3:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}
.btn-container {
  display: flex;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    display: block;
    align-content: center;
    align-items: center;
    margin-top: 20%;
  }
  .card {
    height:28rem;

  }
  .col {
    padding: 0px;
    margin: 0px;
  }
  p{
    padding-top:10%;
    padding-bottom: 0%;
  }
  .info{
    margin-bottom: 10%;
  }
  .sedan-card {
    width:100%;
  border-radius: 10px 10px 0px 0px;


}
h2{
  padding-top: 10%;
}
.suv-card{
  width:100%;
}
  .luxury-card {
    width:100%;
  border-radius: 0px 0px 10px 10px;
}
}